@import "src/front/shared/vars"

.wrapper
  height: 500px
  width: $productCardWidth
  display: flex
  flex-direction: column

.cardImage
  height: 237px
  width: 100%
  background-position: center
  -webkit-background-size: cover
  background-size: cover

.content
  padding: 15px 10px
  text-align: center
  box-sizing: border-box
  border: 1px solid getBorderColor($secondary)
  background-color: $white
  flex-grow: 1

.header
  margin: 0

.description
  margin-top: 15px
  font-size: 15px
  color: $secondary
  font-weight: 500

.price
  font-size: 18px
  color: $accent
  margin-top: 8px

.counter
  margin-top: 15px
  height: 30px
  display: flex
  align-items: stretch
  justify-content: center
  input
    width: 90px
    border: none
    border-top: 1px solid getBorderColor($secondary)
    border-bottom: 1px solid getBorderColor($secondary)
    text-align: center
    &:focus
      outline: none
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button
      display: none
  button
    border-radius: 0
    width: 25px
    height: 100%
    border: 1px solid getBorderColor($text)
    font-weight: 700

.buyButtonWrapper
  margin-top: 15px

.buyButton
  background-color: $accent
  border: none
  color: $white
  font-size: 16px
  font-weight: 700
  padding: 10px 35px
  border-radius: 5px
  transition: background-color .2s ease-in-out
  &:hover
    background-color: darken($accent, 15%)

.inputSum
  max-width: 75px
  width: 100%
  margin-left: 5px


