@import "src/front/shared/vars"

.container
  height: 582px
  position: relative

.imageWrapper
  background-image: url("/main_bg.jpg")
  filter: blur(2px)
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  z-index: -2

.imageOverlay
  background-color: rgba(0,0,0,0.5)
  z-index: -1
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%


.bgContent, .bgContent h1
  display: flex
  align-items: center
  justify-content: center
  color: $white
  height: 100%


