@import "src/front/shared/vars"

.header
  height: $headerHeight
  max-height: $headerHeight
  background-color: $white
  color: $text
  position: sticky
  left: 0
  top: 0
  display: flex
  align-items: center
  justify-content: space-around
  z-index: 100

.navigation
  display: flex
  justify-content: space-between
  max-width: 560px
  width: 100%
  text-decoration: none
  list-style: none

.link
  color: $text
  font-size: 16px
  transition: color .2s ease-in-out
  &:hover
    color: $accent

.buttonLink
  color: $text
  font-size: 16px
  transition: color .2s ease-in-out
  background: transparent
  border: navajowhite
  &:hover
    color: $accent

.linkActive
  color: $linkHeaderActive


