@import "src/front/shared/vars"

.container
  min-height: 80px

.error
  color: $error
  animation: show .5s ease-in-out

.errorInput
  border-color: $error

  @keyframes show
    0%
      opacity: 0
    100%
     opacity: 1
