@import "src/front/shared/vars"

.footerContent
  display: flex
  flex-direction: column
  justify-content: center
  padding-bottom: 20px
  padding-top: 80px
  background-color: $background

.item
  align-self: center
  margin-top: 8px
.link
  font-weight: 400
  text-decoration: none
  font-size: 14px
  color: rgb(255, 118, 67)
  a
    color: inherit