@import "src/front/shared/vars"

.paper
  padding: 24px 40px
  border: 1px solid #f8f8f8
  -webkit-box-shadow: 0px 0px 3px 0 rgb(189 189 189 / 40%), 0px 2px 3px 0 rgb(189 189 189 / 30%), 0 2px 3px rgb(0 0 0 / 8%)
  box-shadow: 0px 0px 3px 0 rgb(189 189 189 / 40%), 0px 2px 3px 0 rgb(189 189 189 / 30%), 0 2px 3px rgb(0 0 0 / 8%)
  background-color: $white
