@import "src/front/shared/vars"

.content
  display: grid
  max-width: 100%
  grid-gap: 40px
  grid-template-columns: repeat(auto-fit, minmax($productCardWidthMin, $productCardWidthMax))
  justify-content: center

