@import "src/front/shared/vars"

.container
  display: flex

.checkbox
  margin-left: 5px

.error
  color: $error
  animation: show .5s ease-in-out


.errorInput
  border-color: $error

@keyframes show
  0%
    opacity: 0
  100%
    opacity: 1
